<!-- Pantalla de Carga -->
<div class="loading-screen" *ngIf="isLoading" [class.fade-out]="isFading">
  <div class="loading-content">
    <!-- Asegúrate de tener una imagen llamada 'car-front.png' en tus assets -->
    <img src="assets/car-front.png" alt="Cargando..." class="car-image">
    <div class="progress-bar-container">
      <div class="progress-bar"></div>
    </div>
    <p>Cargando motores...</p>
  </div>
</div>

<!-- Contenido Principal (se muestra después de cargar) -->
<div class="main-content" *ngIf="!isLoading || isFading">
  <header class="header" *ngIf="!isAuthenticated">
    <nav class="nav">
      <a routerLink="/" fragment="inicio">Inicio</a>
      <a routerLink="/" fragment="quienes">Quiénes Somos</a>
      <a routerLink="/" fragment="servicios">Servicios</a>
      <a routerLink="/" fragment="porque">¿Por qué elegirnos?</a>
      <a routerLink="/" fragment="contacto">Contáctenos</a>

      <a routerLink="/login" class="login-btn">Iniciar sesión</a>
    </nav>
  </header>

  <router-outlet />
</div>
